html, body {
  margin: 0;
  padding: 0;

  background-color: var(--color-background);
}

body {
  position: relative;
  padding-top: calc(var(--font-size) * 4);
  opacity: 0;
  transition: opacity .5s;

  &.loaded {
    opacity: 1;
  }
}

main {
  max-width: calc(var(--width-max) + var(--font-size) * 2);
  margin: 0 auto;
  padding: 0 var(--font-size);
}
