html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

body {
  padding-top: calc(var(--font-size) * 8);
  position: relative;
}

main {
  max-width: calc(var(--width-max) + var(--gap) * 2);
  margin: 0 auto;
  padding: 0 var(--gap);
  position: relative;
  z-index: 1;
}

section {
  margin-bottom: calc(var(--gap) * 4);
}

article {
  margin-bottom: calc(var(--gap) * 2);
  padding-bottom: calc(var(--gap) * 2);
  border-bottom: 1px solid var(--color-foreground);

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}


