#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: var(--gap);
  right: var(--gap);
}

nav {
  max-width: var(--width-max);
  margin: 0 auto;
  display: flex;
  gap: calc(var(--font-size) * 0.25);
  justify-content: space-between;
  align-items: start;

  a {
    backdrop-filter: blur(var(--gap));
  }

  a, a > svg {
    display: block;
    width: auto;
    height: calc(var(--font-size) * 4);
  }

  .links {
    display: flex;
    gap: calc(var(--font-size) * 0.25);
  }
}

#logo {
  svg {
    path {
      fill: var(--color-foreground);
    }
  }
}

#linkedin {
  svg {
    path {
      fill: var(--color-blue);
    }
  }
}

#email {
  svg {
    path {
      fill: var(--color-pink);
    }
  }
}

@media screen and (max-width: 426px) {
  #linkedin {
    display: none;
  }
}
