#services {
  article {
    display: flex;
    gap: var(--gap);
    flex-direction: column;

    header {
      display: flex;
      gap: var(--gap);
      align-items: center;

      svg {
        display: block;
        height: calc(var(--gap) * 3);
        width: calc(var(--gap) * 3);
        min-width: calc(var(--gap) * 3);
        max-width: calc(var(--gap) * 3);
        flex-grow: 0;
      }

      h4 {
        margin-bottom: 0;
        padding: 0;
        flex-grow: 1;
      }
    }

    &:nth-of-type(even) {
      header {
        svg {
          order: 2;
        }

        h4 {
          order: 1;
          text-align: right;
        }
      }
    }
  }
}
