#testimonials {
  article {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: var(--gap);

    header {
      width: calc(var(--gap) * 6);
      height: calc(var(--gap) * 6);

      flex-grow: 0;
      aspect-ratio: 1/1;

      img {
        display: block;
        width: auto;
        border-radius: 50%;
      }
    }

    p {
      flex-grow: 1;
    }

    &:nth-of-type(even) {
      header {
        order: 2;
      }

      p {
        order: 1;
        text-align: right;
      }
    }
  }
}
