:root {
  /*--color-foreground: #143243;*/
  /*--color-background: #F4F9EB;*/
  --color-foreground: #F4F9EB;
  --color-background: #143243;
  --color-primary: #22AD6C;

  --font-size: 1rem;
  --line-height: 1.5;

  --width-max: calc(var(--font-size) * 60);
  --margin: calc(var(--font-size) * 12)
}
